public/hot
public/assets
public/storage
public/mix-manifest.json
html/mix-manifest.json
html/assets
storage
vendor
node_modules
.idea
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
todo.txt
mix-manifest.json
.DS_Store
.env
.env.php
.env.backup
docker/nginx-phpfpm/packaged/*
!docker/nginx-phpfpm/packaged/.gitkeep
