<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteBase /
    
	# Force www: from http://stackoverflow.com/a/4958847/1078583 
	RewriteCond %{HTTP_HOST} !^$
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteCond %{HTTPS}s ^on(s)|
	RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
	
	# Force SSL: From http://stackoverflow.com/q/24322035/
	RewriteCond %{HTTPS} off
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L,NE]
    
	RewriteRule ^register$ / [L,R=301]
	
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
